<div class="container">
  <h4>  <%= link_to 'Create new Todo',  todos_new_path %> </h4>
  <br>
  <% @todos.each do |todo| %>
    <div class="well">
      <div class="col-md-6">
        <%= todo.description %>
     </div>
     <div class="col-md-6">
       <p class="complete"><%= 'Completed' if todo.completed == true %><p>
       <p class="pending"><%= 'Pending' if todo.completed == false %><p>
    </div>

      <hr />
      <%= link_to 'Show', todo %> |
      <%= link_to "Edit", edit_path(todo.id) %> |
      <%= link_to 'Delete', todo, 'data-confirm' => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
</div>
